@{
    ViewData["Title"] = "Index";
}

<h2 class="mb-4">Admin Panel</h2>

<div class="row g-4">

    <div class="col-md-3">
        <a asp-area="Admin" asp-controller="Products" asp-action="Index" class="text-decoration-none">
            <div class="card text-center p-4 shadow-sm">
                <h5>Products</h5>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a asp-area="Admin" asp-controller="Categories" asp-action="Index" class="text-decoration-none">
            <div class="card text-center p-4 shadow-sm">
                <h5>Categories</h5>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a asp-area="Admin" asp-controller="Orders" asp-action="Index" class="text-decoration-none">
            <div class="card text-center p-4 shadow-sm">
                <h5>Orders</h5>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a asp-area="Admin" asp-controller="OrderItems" asp-action="Index" class="text-decoration-none">
            <div class="card text-center p-4 shadow-sm">
                <h5>Order Items</h5>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a asp-area="Admin" asp-controller="Users" asp-action="Index" class="text-decoration-none">
            <div class="card text-center p-4 shadow-sm">
                <h5>Users</h5>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a asp-area="Admin" asp-controller="Reviews" asp-action="Index" class="text-decoration-none">
            <div class="card text-center p-4 shadow-sm">
                <h5>Reviews</h5>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a asp-area="Admin" asp-controller="Carts" asp-action="Index" class="text-decoration-none">
            <div class="card text-center p-4 shadow-sm">
                <h5>Carts</h5>
            </div>
        </a>
    </div>

</div>