@{
    ViewData["Title"] = "Categories";
}

<h1 class="mb-4">Categories</h1>

<div class="row">

    <div class="col-md-2 mb-4">
        <div class="card text-center shadow-sm p-2">
            <h5>Electronics</h5>
        </div>
    </div>

    <div class="col-md-2 mb-4">
        <div class="card text-center shadow-sm p-2">
            <h5>Clothing</h5>
        </div>
    </div>

    <div class="col-md-2 mb-4">
        <div class="card text-center shadow-sm p-2">
            <h5>Books</h5>
        </div>
    </div>

    <div class="col-md-2 mb-4">
        <div class="card text-center shadow-sm p-2">
            <h5>Automotive</h5>
            <h5>Engineering</h5>
        </div>
    </div>

    <div class="col-md-2 mb-4">
        <div class="card text-center shadow-sm p-2">
            <h5>Engineering</h5>
            <h5>Automotive</h5>
        </div>
    </div>

</div>