@model EGielda.Models.OrderItem

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="row">
    <div class="col-md-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="ProductId" class="form-label"></label>
                <select asp-for="ProductId" class="form-select" asp-items="ViewBag.ProductId"></select>
            </div>

            <div class="mb-3">
                <label asp-for="OrderId" class="form-label"></label>
                <select asp-for="OrderId" class="form-select" asp-items="ViewBag.OrderId"></select>
            </div>

            <div class="mb-3">
                <label asp-for="Quantity" class="form-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Create</button>
            <a asp-action="Index" class="btn btn-secondary">Back</a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
