@model EGielda.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2 class="mb-4">Register</h2>

<form asp-action="Register" method="post" class="w-50">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
    </div>

    <button class="btn btn-success">Register</button>
</form>
